{% extends "layout.html" %}

{% block title %}HTTP?{% endblock %}

{% block body %}
    <h1 class="text-center">HTTP and what I learned during my weekend deep-dive!</h1>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <p>
            Hi, friends! This last weekend, I did a deep-dive into web servers.
            One of my friends offered to give me a quick rundown on IIS, 
            which I realized can be used in many different ways depending on the service's needs.
            He demonstrated how to use it to serve a flask application (Although, if I were honest, he went a bit fast for me to absorb it all.)
            But it was still enough for me to get an understanding of how load balancers, reverse proxies, etc. get pointed to a web service/application.
            </p>
            <p>
            In this instance, I happen to be a little more comfortable using Python in Linux, so I decided to make a Docker container
            to serve a Flask/uWSGI application using Nginx as a reverse proxy. I definitely still have a lot more I need to learn about http services,
            but what I understand what I did here was that I made sure traffic on port 80 was directed to port 80 inside of the container,
            used uWSGI to create a socket at /tmp/uwsgi.sock, to which Nginx will forward inbound traffic on port 80. The uWSGI application
            can then be used to call the python application, which is then sent back to the user.
            This is probably a bit of an oversimplified explanation of it, but you're welcome to view my source code in <a href="https://gitlab.com/wormfolio/http-explanation">my Gitlab repo!</a>
            </p>
            <p>
            Side note: I also ended up delving into Azure App services and ran the image from a container registry.
            </p>
        </div>
    </div>
{% endblock %}
